<style type="text/css">

h1{
	color: red;
	font-size:30px;
	text-decoration: line-through;
}

#first{
font-size: 150px;
}

h2{
color: blue;
font-size: 60px;
text-decoration: unset;
}

.small{
font-size: 12px;
}

span{
font-style: italic;
}
h2 span{
text-decoration: line-through;
}


</style>	